<%= form_with(model: deadliest, local: true) do |form| %>
  <% if deadliest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deadliest.errors.count, "error") %> prohibited this deadliest from being saved:</h2>

      <ul>
      <% deadliest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :EarthquakeCode %>
    <%= form.text_field :EarthquakeCode %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date %>
  </div>

  <div class="field">
    <%= form.label :Location %>
    <%= form.text_field :Location %>
  </div>

  <div class="field">
    <%= form.label :Longitude %>
    <%= form.text_field :Longitude %>
  </div>

  <div class="field">
    <%= form.label :Latitude %>
    <%= form.text_field :Latitude %>
  </div>

  <div class="field">
    <%= form.label :deaths %>
    <%= form.number_field :deaths %>
  </div>

  <div class="field">
    <%= form.label :Magnitude %>
    <%= form.text_field :Magnitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
