<p id="notice"><%= notice %></p>

<h1>Deadliests</h1>

<table>
  <thead>
    <tr>
      <th>Earthquakecode</th>
      <th>Date</th>
      <th>Location</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Deaths</th>
      <th>Magnitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deadliests.each do |deadliest| %>
      <tr>
        <td><%= deadliest.EarthquakeCode %></td>
        <td><%= deadliest.Date %></td>
        <td><%= deadliest.Location %></td>
        <td><%= deadliest.Longitude %></td>
        <td><%= deadliest.Latitude %></td>
        <td><%= deadliest.deaths %></td>
        <td><%= deadliest.Magnitude %></td>
        <td><%= link_to 'Show', deadliest %></td>
        <td><%= link_to 'Edit', edit_deadliest_path(deadliest) %></td>
        <td><%= link_to 'Destroy', deadliest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deadliest', new_deadliest_path %>
