<p id="notice"><%= notice %></p>

<p>
  <strong>Earthquakecode:</strong>
  <%= @deadliest.EarthquakeCode %>
</p>

<p>
  <strong>Date:</strong>
  <%= @deadliest.Date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @deadliest.Location %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @deadliest.Longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @deadliest.Latitude %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @deadliest.deaths %>
</p>

<p>
  <strong>Magnitude:</strong>
  <%= @deadliest.Magnitude %>
</p>

<%= link_to 'Edit', edit_deadliest_path(@deadliest) %> |
<%= link_to 'Back', deadliests_path %>
