<p id="notice"><%= notice %></p>

<h1>Tsunamis</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Samedayas</th>
      <th>Focaldepth</th>
      <th>Magnitude</th>
      <th>Country</th>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Maximumwaterheight</th>
      <th>Deaths</th>
      <th>Injuries</th>
      <th>Damageinmillions</th>
      <th>Housesdestroyed</th>
      <th>Hausesdamaged</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tsunamis.each do |tsunami| %>
      <tr>
        <td><%= tsunami.Date %></td>
        <td><%= tsunami.Time %></td>
        <td><%= tsunami.SameDayAs %></td>
        <td><%= tsunami.FocalDepth %></td>
        <td><%= tsunami.Magnitude %></td>
        <td><%= tsunami.Country %></td>
        <td><%= tsunami.Location %></td>
        <td><%= tsunami.Latitude %></td>
        <td><%= tsunami.Longitude %></td>
        <td><%= tsunami.MaximumWaterHeight %></td>
        <td><%= tsunami.Deaths %></td>
        <td><%= tsunami.Injuries %></td>
        <td><%= tsunami.DamageInMillions %></td>
        <td><%= tsunami.HousesDestroyed %></td>
        <td><%= tsunami.HausesDamaged %></td>
        <td><%= link_to 'Show', tsunami %></td>
        <td><%= link_to 'Edit', edit_tsunami_path(tsunami) %></td>
        <td><%= link_to 'Destroy', tsunami, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tsunami', new_tsunami_path %>
