<p id="notice"><%= notice %></p>

<h1>Tsunamis</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th>Time</th>
      <th>Focal depth</th>
      <th>Primary magnitude</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Maximun water height</th>
      <th>Deaths</th>
      <th>Injuries</th>
      <th>Damage(million dollars)</th>
      <th>Houses destroyed</th>
      <th>Houses damaged</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tsunamis.each do |tsunami| %>
      <tr>
        <td><%= tsunami.Location_Name %></td>
        <td><%= tsunami.Date %></td>
        <td><%= tsunami.Time %></td>
        <td><%= tsunami.Focal_Depth %></td>
        <td><%= tsunami.Primary_Magnitude %></td>
        <td><%= tsunami.Latitude %></td>
        <td><%= tsunami.Longitude %></td>
        <td><%= tsunami.Maximun_Water_Height %></td>
        <td><%= tsunami.Total_Deaths %></td>
        <td><%= tsunami.Total_Injuries %></td>
        <td><%= tsunami.Total_Damage_Million_Dollars %></td>
        <td><%= tsunami.Total_Houses_Destroyed %></td>
        <td><%= tsunami.Total_Houses_Damaged %></td>
        <td><%= link_to 'Show', tsunami %></td>
      </tr>
    <% end %>
  </tbody>
</table>
