<p id="notice"><%= notice %></p>

<h1>Tsunamis</h1>

<table id="DeadlyQuakes" class="table display responsive no-wrap mw-100 mh-100" >
  <thead>
  <tr>
    <th>Location</th>
    <th>Date</th>
    <th>Time</th>
    <th>Focal depth</th>
    <th>Primary magnitude</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Maximun water height</th>
    <th>Deaths</th>
	<th>Injuries</th>
	<th>Damage(million dollars)</th>
	<th>Houses destroyed</th>
	<th></th>
  </tr>
  </thead>
  <tbody>
    <% @tsunamis.each do |tsunami| %>
      <tr>
        <td><%= tsunami.Location_Name %></td>
        <td><%= tsunami.Date %></td>
        <td><%= tsunami.Time.to_s(:time) %></td>
        <td><%= tsunami.Focal_Depth.to_s(:time) %></td>
        <td><%= tsunami.Primary_Magnitude %></td>
        <td><%= tsunami.Latitude %></td>
        <td><%= tsunami.Longitude %></td>
		<td><%= tsunami.Maximum_Water_Height %></td>
		<td><%= tsunami.Total_Deaths %></td>
		<td><%= tsunami.Total_Injuries %></td>
		<td><%= tsunami.Total_Damage_Million_Dollars %></td>
        <td><%= tsunami.Total_Houses_Destroyed %></td>
        <td><%= link_to 'Details', tsunami, class: "btn btn-lg btn-outline-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



