<p id="notice"><%= notice %></p>

<h1>
	Tsunami in <%= @tsunami.Location_Name %>
</h1>

<br>

<p>
  <strong>Date:</strong>
  <%= @tsunami.Date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @tsunami.Time.to_s(:time) %>
</p>

<p>
  <strong>Focal depth:</strong>
  <%= @tsunami.Focal_Depth %>
</p>

<p>
  <strong>Primary magnitude:</strong>
  <%= @tsunami.Primary_Magnitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @tsunami.Latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @tsunami.Longitude %>
</p>

<p>
  <strong>Maximun water height:</strong>
  <%= @tsunami.Maximun_Water_Height %>
</p>

<p>
  <strong>Total deaths:</strong>
  <%= @tsunami.Total_Deaths %>
</p>

<p>
  <strong>Total injuries:</strong>
  <%= @tsunami.Total_Injuries %>
</p>

<p>
  <strong>Total damage million dollars:</strong>
  <%= @tsunami.Total_Damage_Million_Dollars %>
</p>

<p>
  <strong>Total houses destroyed:</strong>
  <%= @tsunami.Total_Houses_Destroyed %>
</p>

<p>
  <strong>Total houses damaged:</strong>
  <%= @tsunami.Total_Houses_Damaged %>
</p>

<%= link_to 'Back', tsunamis_path %>
