<%= form_with(model: earthquake_datum, local: true) do |form| %>
  <% if earthquake_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(earthquake_datum.errors.count, "error") %> prohibited this earthquake_datum from being saved:</h2>

      <ul>
      <% earthquake_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date %>
  </div>

  <div class="field">
    <%= form.label :Time %>
    <%= form.time_select :Time %>
  </div>

  <div class="field">
    <%= form.label :Latitude %>
    <%= form.text_field :Latitude %>
  </div>

  <div class="field">
    <%= form.label :Longitude %>
    <%= form.text_field :Longitude %>
  </div>

  <div class="field">
    <%= form.label :Depth %>
    <%= form.number_field :Depth %>
  </div>

  <div class="field">
    <%= form.label :Magnitude %>
    <%= form.text_field :Magnitude %>
  </div>

  <div class="field">
    <%= form.label :Magnitude %>
    <%= form.text_field :Magnitude %>
  </div>

  <div class="field">
    <%= form.label :Type %>
    <%= form.text_field :Type %>
  </div>

  <div class="field">
    <%= form.label :SourceId %>
    <%= form.text_field :SourceId %>
  </div>

  <div class="field">
    <%= form.label :Source %>
    <%= form.text_field :Source %>
  </div>

  <div class="field">
    <%= form.label :SameDayAs %>
    <%= form.text_field :SameDayAs %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
