<p id="notice"><%= notice %></p>

<h1>Earthquake Data</h1>

<table id="DeadlyQuakes" class="table display responsive no-wrap mw-100 mh-100" >
  <thead>
  <tr>
    <th>Sourceid</th>
    <th>Date</th>
    <th>Time</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Depth</th>
    <th>Magnitude</th>
    <th>Source</th>
	<th></th>
  </tr>
  </thead>
  <tbody>
    <% @earthquake_data.each do |earthquake_datum| %>
      <tr>
        <td><%= earthquake_datum.SourceId %></td>
        <td><%= earthquake_datum.Date %></td>
        <td><%= earthquake_datum.Time.to_s(:time) %></td>
        <td><%= earthquake_datum.Latitude %></td>
        <td><%= earthquake_datum.Longitude %></td>
        <td><%= earthquake_datum.Depth %></td>
        <td><%= earthquake_datum.Magnitude %></td>
		<td><%= earthquake_datum.Source %></td>
        <td><%= link_to 'Details', earthquake_datum, class: "btn btn-lg btn-outline-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>