<p id="notice"><%= notice %></p>

<h1>Earthquake Data</h1>

<table>
  <thead>
    <tr>
	  <th>Sourceid</th>
      <th>Date</th>
      <th>Time</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Depth</th>
      <th>Magnitude</th>
      <th>Magnitude</th>
      <th>Type</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @earthquake_data.each do |earthquake_datum| %>
      <tr>
        <td><%= earthquake_datum.SourceId %></td>
        <td><%= earthquake_datum.Date %></td>
        <td><%= earthquake_datum.Time %></td>
        <td><%= earthquake_datum.Latitude %></td>
        <td><%= earthquake_datum.Longitude %></td>
        <td><%= earthquake_datum.Depth %></td>
        <td><%= earthquake_datum.Magnitude %></td>
        <td><%= earthquake_datum.Magnitude %></td>
        <td><%= earthquake_datum.Type %></td>
        <td><%= earthquake_datum.Source %></td>
        <td><%= link_to 'Details', earthquake_datum %></td>
      </tr>
    <% end %>
  </tbody>
</table>

