<p id="notice"><%= notice %></p>

<h1>Deadly Earthquakes</h1>

<table id="DeadlyQuakes" class="table display responsive no-wrap mw-100 mh-100" >
  <thead>
  <tr>
    <th>EqCode</th>
    <th>Date</th>
    <th>Location</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Deaths</th>
    <th>Magnitude</th>
    <th>Caused a tsunami</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @deadly_quakes.each do |deadly_quake| %>
      <tr>
        <td><%= deadly_quake.EqCode %></td>
        <td><%= deadly_quake.Date %></td>
        <td><%= deadly_quake.Location %></td>
        <td><%= deadly_quake.Latitude %></td>
        <td><%= deadly_quake.Longitude %></td>
        <td><%= deadly_quake.Deaths %></td>
        <td><%= deadly_quake.Magnitude %></td>
        <td><% if deadly_quake.tsunami.nil? %> No <% else %> Yes <% end %></td>
        <td><%= link_to 'Details', deadly_quake, class: "btn btn-lg btn-outline-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
