
<p id="notice"><%= notice %></p>

<h1>Deadly Earthquakes</h1>

<%= form_tag(deadly_quakes_path, method: :get) do %>
  <%= date_field( nil, "term", value:  params[:term]) %>
  <%= submit_tag 'Search' %>
<% end %>
	
	
<div class="table" id="results">
  <div class='theader'>
    <div class='table_header'>EqCode</div>
    <div class='table_header'>Date</div>
    <div class='table_header'>Location</div>
    <div class='table_header'>Longitude</div>
	<div class='table_header'>Latitude</div>
	<div class='table_header'>Deaths</div>
	<div class='table_header'>Magnitude</div>
	<div class='table_header'></div>
  </div>
  <% @deadly_quakes.each do |deadly_quake| %>
	  <div class='table_row'>
		<div class='table_small'>
		  <div class='table_cell'>EqCode</div>
		  <div class='table_cell'><%= deadly_quake.EqCode %></div>
		</div>
		<div class='table_small'>
		  <div class='table_cell'>Date</div>
		  <div class='table_cell'><%= deadly_quake.Date %></div>
		</div>
		<div class='table_small'>
		  <div class='table_cell'>Location</div>
		  <div class='table_cell'><%= deadly_quake.Location %></div>
		</div>
		<div class='table_small'>
		  <div class='table_cell'>Longitude</div>
		  <div class='table_cell'><%= deadly_quake.Longitude %></div>
		</div>
		<div class='table_small'>
		  <div class='table_cell'>Latitude</div>
		  <div class='table_cell'><%= deadly_quake.Latitude %></div>
		</div>
		<div class='table_small'>
		  <div class='table_cell'>Deaths</div>
		  <div class='table_cell'><%= deadly_quake.Deaths %></div>
		</div>
		<div class='table_small'>
		  <div class='table_cell'>Magnitude</div>
		  <div class='table_cell'><%= deadly_quake.Magnitude %></div>
		</div>
		<div class='table_small'>
		  <div class='table_cell'></div>
		  <div class='table_cell'><%= link_to 'Details', deadly_quake %></div>
		</div>
	  </div>
	<% end %>
</div>





