<p id="notice"><%= notice %></p>

<h1>
	Earthquake in <%= @deadly_quake.Location %>
</h1>

<br>

<p>
  <strong>Eqcode:</strong>
  <%= @deadly_quake.EqCode %>
</p>

<p>
  <strong>Date:</strong>
  <%= @deadly_quake.Date %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @deadly_quake.Longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @deadly_quake.Latitude %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @deadly_quake.Deaths %>
</p>

<p>
  <strong>Magnitude:</strong>
  <%= @deadly_quake.Magnitude %>
</p>

<%= link_to 'Back', deadly_quakes_path %>
