<p id="notice"><%= notice %></p>

<h1>
  Earthquake in <%= @deadly_quake.Location %>
</h1>

<br>

<p>
  <strong>Eqcode:</strong>
  <%= @deadly_quake.EqCode %>
</p>

<p>
  <strong>Date:</strong>
  <%= @deadly_quake.Date %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @deadly_quake.Longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @deadly_quake.Latitude %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @deadly_quake.Deaths %>
</p>

<p>
  <strong>Magnitude:</strong>
  <%= @deadly_quake.Magnitude %>
</p>
<% unless @deadly_quake.tsunami.nil? %>


<div id="tsunami" class="collapse">
<p><strong>Tsunami Deaths:</strong> <%= @deadly_quake.tsunami.Total_Deaths %></p>
<p><strong>Tsunami Injuries:</strong> <%= @deadly_quake.tsunami.Total_Injuries %></p>
<p><strong>Tsunami Damage in Millions(Dollars):</strong> <%= @deadly_quake.tsunami.Total_Damage_Million_Dollars %></p>
<p><strong>Tsunami Houses Destroyed:</strong> <%= @deadly_quake.tsunami.Total_Houses_Destroyed %></p>
<p><strong>Tsunami Houses Damaged:</strong> <%= @deadly_quake.tsunami.Total_Houses_Damaged %></p>
</div>

<button data-toggle="collapse" data-target="#tsunami"  class="btn btn-lg btn-secondary my-2 my-sm-0">Associated Tsunami details</button>
<br><br>
<% end %>
<%= link_to 'Back', deadly_quakes_path, class: "btn btn-lg btn-secondary my-2 my-sm-0" %>

<br><br>
