<!DOCTYPE html>
<html>
<head>
  <title>Earthquake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/r-2.2.2/datatables.min.css" />
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/r-2.2.2/datatables.min.js"></script>

  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.min.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.2/js/responsive.bootstrap4.min.js"></script> -->
</head>

<body style="font-size:18px">
<div class="row no-gutters">
  <div class="col no-gutters">
    <div style="position: relative;">
      <img class="img-fluid" src="/assets/banner.png">
      <div style="position: absolute; top: 45%; left: 0; width: 100%;">
        <h1 class="text-dark text-left visible-md visible-lg" style="padding-left: 50px; font-size: 3em;">Deadliest
          earthquakes and tsunamis</h1>
      </div>
    </div>
    <%= render :partial => "layouts/menu" %>
  </div>
</div>
<div class="container ">
  <div class="row">
    <div class="col no-gutters">
      <%= yield %>
    </div>
  </div>
</div>


</body>

</html>
